<%=link_to 'AdminTOP' , admin_path %> > 
<%=link_to  'BattleTOP' , admin_battle_path(params[:battle_id]) %><br>
<h1>Panelist new or edit</h1>

<%= form_for([:admin,@battle,@panelist]) do |f| %>
  <label>name</label><%= f.text_field :name %><br>
  <label>description</label><%= f.text_field :description %><br>
  <label>image_url</label><%= f.text_field :image_url %><br>
  <%= f.submit %>
<% end %>
